body {
    /*padding-top: 40px;*/
    /*padding-bottom: 40px;*/
    /*margin: 0 auto;*/
    /*background-color: #f2f2f2;*/
    /*font: 12px/25px "微软雅黑";*/
    color: #6A6A6A;
    /*background-image: url(../../images/bg_grid.png);*/
}

/*登录*/
.login-container {
    margin-top: 50px;
    height: 360px;
    width: 100%;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    background: url(../../images/background.jpg) no-repeat;
}

.login-wrap {
    float: left;
    /*background: #dcdec8;*/
    border: 1px solid #d2d2d2;
    background: #eee;
    clear: both;
    width: 370px;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.banner-tip {
    margin-top: 15px;
}

.form-signin {
    max-width: 330px;
    padding: 30px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    /*margin-top: 15px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.register-wrap {
    background: #fff;
    clear: both;
    width: 370px;
    margin-top: 30px;
    /*margin-right: 150px;*/
    /*width: auto;*/
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.bs-docs-home {
}

.bs-masthead {
    padding: 0;
}

.bs-masthead h1 {
    font-size: 40px;
    margin: 0;
    padding: 34px 0;
    text-align: center;
}

.bs-masthead a:hover {
    text-decoration: none;
}

.meritoo-logo a {
    background-color: #fff;
    border: 1px solid rgba(66, 139, 202, 0.4);
    display: block;
    padding: 12px 0;
}

.meritoo-logo a img {
    display: block;
    margin: 0 auto;
}

.row-urls {
    margin-top: 4px;
}

.row-urls .col-md-6 {
    text-align: center;
}

.row-urls .col-md-6 a {
    font-size: 14px;
}

.tab-form {
    padding: 15px;
}
.bootstrap-validator-form .help-block {
margin-bottom: -25px;
padding-left: 30px;
}




