<div class="form-group">
    <label class="control-label">一级部门</label>
    <select class="form-control area" name="area">
        <option value="0">全部</option>
        {% for area in areas %}
            {% if area_id and int(area_id) == area.id %}
                <option value="{{ area.id }}" selected>{{ area.area_name }}</option>
            {% else %}
                <option value="{{ area.id }}">{{ area.area_name }}</option>
            {% end %}
        {% end %}
    </select>
</div>