<!DOCTYPE html>
<html>
<head>
    <title>Profiling Survey SSO China Week</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<link rel="apple-touch-icon-precomposed" href="/images/favicon.png">-->
    <link href="{{ static_url('assets/css/mobile.css') }}"
          media="screen" rel="stylesheet"/>
    <script src="{{ static_url('assets/js/mobile-form.js') }}"></script>
    <style type="text/css">
        [data-role=header] {
            background: #afa373;
            border-color: #afa373;
        }
    </style>
</head>
<body ontouchstart="" class="mobile ">
<div data-role="page" class="page  ">
<div class="fixed-background"></div>
<!--<div class="current-user-header clearfix">-->
<!--<span class="user-name"></span>-->
<!--<a class="mobile-logout-link pull-right" href="/"></a>-->
<!--</div>-->
<header data-role="header" class="">
    <h1>
        <i class="fontello-comment"></i>
        Part 1: Live Audience Benchmarking Polling -Who are here with you at SSO Week China 2014
    </h1>
</header>
<div class="main" data-role="content">
<div class="main-content">
<form accept-charset="UTF-8" action="/s/p1" class="center" id="new_entry" method="post">
<h1 class="form-name"></h1>

<div class="form-description"></div>
<fieldset>
<div class="form-content">
<div class="form-message hide"></div>
<div class="field" data-api-code="field_1">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q1 What is the size of your Full Time Employees (FTEs) in your SSC?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Less than 20
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        20-50
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        50-100
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        100-200
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        200-500
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="6"/>
                        500+
                    </label>

                </div>
            </div>

        </div>
    </div>


</div>
<div class="field" data-api-code="field_2">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q2 How long has your organization’s SSCs been operating?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Less than a year
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        1-3 years
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        3-5 years
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        5-10 years
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        10 years+
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="field" data-api-code="field_3">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q3 Where is your Shared Services Centre located?
        </label>

        <div class="field_content">
            <!--<div class="help-block"><p class="p1"><span class="s1">运动类</span></p></div>-->

            <div class="controls">
                <div class="clearfix checkbox-group" data-role="controlgroup">
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="咕咚"/>
                        Beijing
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="nike+"/>
                        Shanghai
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="益动"/>
                        Suzhou
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="悦跑圈"/>
                        Dalian
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="跑跑"/>
                        Wuhan
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="乐动力"/>
                        Chengdu
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="argus"/>
                        Tianjin
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="运动日记"/>
                        Xiamen
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="动动计步"/>
                        Guangzhou
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="每日瑜伽"/>
                        Hangzhou
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="每日瑜伽"/>
                        Foshan
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="每日瑜伽"/>
                        Others
                    </label>
                    <!--<div class="other-choice-area ">-->
                    <!--<label onclick="" class="checkbox ">-->
                    <!--<input class="other_choice" data-field-key="field_1"-->
                    <!--name="entry[field_1][]" type="checkbox" value="其它"/>-->
                    <!--其它-->
                    <!--</label>-->
                    <!--<input class="other-choice-input input-medium" data-field-key="field_1"-->
                    <!--id="entry_field_1_other" name="entry[field_1_other]" type="text"-->
                    <!--value=""/>-->
                    <!--</div>-->

                </div>
            </div>

        </div>
    </div>
</div>
<div class="field" data-api-code="field_4">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q4 Which function is your SSC(s) responsible for?
        </label>

        <div class="field_content">
            <!--<div class="help-block"><p class="p1"><span class="s1">运动类</span></p></div>-->

            <div class="controls">
                <div class="clearfix checkbox-group" data-role="controlgroup">
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="咕咚"/>
                        Finance
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="nike+"/>
                        HR
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="益动"/>
                        IT
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="悦跑圈"/>
                        Procurement
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="跑跑"/>
                        Supply chain
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="乐动力"/>
                        Multi-function
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="argus"/>
                        Others
                    </label>
                    <!--<div class="other-choice-area ">-->
                    <!--<label onclick="" class="checkbox ">-->
                    <!--<input class="other_choice" data-field-key="field_1"-->
                    <!--name="entry[field_1][]" type="checkbox" value="其它"/>-->
                    <!--其它-->
                    <!--</label>-->
                    <!--<input class="other-choice-input input-medium" data-field-key="field_1"-->
                    <!--id="entry_field_1_other" name="entry[field_1_other]" type="text"-->
                    <!--value=""/>-->
                    <!--</div>-->

                </div>
            </div>

        </div>
    </div>
</div>
<div class="field" data-api-code="field_5">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q5 Which region is your SSC serving?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        South China
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        North China
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        Whole China
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        North Asia
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Asia
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Asia Pacific
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Globally
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="field submit-field ">
    <div class="value">
        <input id="embedded" name="embedded" type="hidden"/>
        <input id="banner" name="banner" type="hidden"/>
        <input id="background" name="background" type="hidden"/>
        <input class="submit" data-disabled-with="submitting..." name="commit" type="submit" value="Submit"/>
    </div>
</div>
</fieldset>
</form>
</div>
</div>
</div>
<!--<div class="footer ">-->
<!--<footer>-->
<!--<a data-ajax="false" href="" target="_blank">-->
<!--<!--<span class='powered-by-text'>POWERED BY </span>-->-->
<!--</a>-->
<!--</footer>-->
<!--</div>-->
</html>
