<!DOCTYPE html>
<html>
<head>
    <title>Profiling Survey SSO China Week</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<link rel="apple-touch-icon-precomposed" href="/images/favicon.png">-->
    <link href="{{ static_url('assets/css/mobile.css') }}"
          media="screen" rel="stylesheet"/>
    <script src="{{ static_url('assets/js/mobile-form.js') }}"></script>
    <style type="text/css">
        [data-role=header] {
            background: #afa373;
            border-color: #afa373;
        }
    </style>
</head>
<body ontouchstart="" class="mobile ">
<div data-role="page" class="page  ">
<div class="fixed-background"></div>
<!--<div class="current-user-header clearfix">-->

<!--<span class="user-name"></span>-->
<!--<a class="mobile-logout-link pull-right" href="/"></a>-->
<!--</div>-->
<header data-role="header" class="">
    <h1>
        <i class="fontello-comment"></i>
        Part 2: Live Audience Benchmarking Polling-Process Optimisation
    </h1>

</header>
<div class="main" data-role="content">
<div class="main-content">
<form accept-charset="UTF-8" action="/s/p2" class="center" id="new_entry" method="post">
<h1 class="form-name"></h1>

<div class="form-description"></div>

<fieldset>
<div class="form-content">


<div class="form-message hide"></div>
<div class="field" data-api-code="field_1">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q1 A: Which financial processes does your organisation perform within Shared Services
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Accounts payable
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        Accounts receivable
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        General accounting
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        Travel & Expense
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Payroll
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Collections and Billing
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Cash Management
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Financial management reporting
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Credit management
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Treasury
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Internal audit
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Budgeting
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Business analytics
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Forecasting
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Financial risk management
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Tax
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="field" data-api-code="field_2">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q1 B: Which human resource processes does your organisation perform in Shared Services
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Payroll
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        HR administration
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        HR reporting
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        HRIS maintenance and support
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Total rewards administration
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Call center management
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Recruiting and staffing administration
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Employee and labor relations
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Talent management administration
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Workforce analytics
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="field" data-api-code="field_3">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q2: What is the average headcount reduction you achieved during the first 12 months after implementation of your SSCs?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        No reduction
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        0-10%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        10-20%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        20-30%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        More than 30%
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="field" data-api-code="field_2">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q3: How could you have improved your Shared Services Journey?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Increased change management
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        Better alignment between process change and technology change
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        Stronger executive support/alignment
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        Better team/resources
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Faster decision making/issue resolution
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Better reporting
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Other
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="field" data-api-code="field_5">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q4: What’s the number of invoices processed per Accounts Payable FTE per month?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        100-200
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        200-400
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        400-600
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        600-800
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        800-1000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        1000-1200
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        1200-1500
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        1500-2000
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Above 2000
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="field" data-api-code="field_5">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q5: What’s the cost to process an invoice (RMB)?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Below 5 RMB
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        5-10 RMB
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        10-15 RMB
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        15-20 RMB
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        20-25 RMB
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        25-30 RMB
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        30-35 RMB
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        35-40 RMB
                    </label>
                     <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        40-50 RMB
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Above 50 RMB
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="field submit-field ">
    <div class="value">
        <input id="embedded" name="embedded" type="hidden"/>
        <input id="banner" name="banner" type="hidden"/>
        <input id="background" name="background" type="hidden"/>
        <input class="submit" data-disabled-with="submitting..." name="commit" type="submit" value="Submit"/>
    </div>
</div>
</fieldset>
</form>
</div>
</div>

</div>
<!--<div class="footer ">-->
<!--<footer>-->
<!--<a data-ajax="false" href="" target="_blank">-->
<!--<!--<span class='powered-by-text'>POWERED BY </span>-->-->
<!--</a>-->
<!--</footer>-->
<!--</div>-->
</html>
