<!DOCTYPE html>
<html>
<head>
    <title>Profiling Survey SSO China Week</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<link rel="apple-touch-icon-precomposed" href="/images/favicon.png">-->
    <link href="{{ static_url('assets/css/mobile.css') }}"
          media="screen" rel="stylesheet"/>
    <script src="{{ static_url('assets/js/mobile-form.js') }}"></script>
    <style type="text/css">
        [data-role=header] {
            background: #afa373;
            border-color: #afa373;
        }
    </style>
</head>
<body ontouchstart="" class="mobile ">
<div data-role="page" class="page  ">
<div class="fixed-background"></div>
<!--<div class="current-user-header clearfix">-->

<!--<span class="user-name"></span>-->
<!--<a class="mobile-logout-link pull-right" href="/"></a>-->
<!--</div>-->
<header data-role="header" class="">
    <h1>
        <i class="fontello-comment"></i>
        Part 3: Live Audience Benchmarking Polling-Talent Management
    </h1>

</header>
<div class="main" data-role="content">
<div class="main-content">
<form accept-charset="UTF-8" action="/s/p3" class="center" id="new_entry" method="post">

<h1 class="form-name"></h1>

<div class="form-description"></div>

<fieldset>
<div class="form-content">


<div class="form-message hide"></div>
<div class="field" data-api-code="field_1">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q1: What is your annual percentage of employee turnover within your centre?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Less than 5%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        5-10%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        10-15%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        15-20%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        20-25%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="6"/>
                        30-35%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="6"/>
                        35-40%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="6"/>
                        40-45%
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="6"/>
                        Greater than 45%
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="field" data-api-code="field_4">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q2: What methods do you use to attract and retain talent?
        </label>

        <div class="field_content">
            <!--<div class="help-block"><p class="p1"><span class="s1">运动类</span></p></div>-->

            <div class="controls">
                <div class="clearfix checkbox-group" data-role="controlgroup">
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="咕咚"/>
                        Focus on strong culture
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="nike+"/>
                        Job rotation outside of the SSC into other areas of the business
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="益动"/>
                        Job sharing /flexible work practices
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="悦跑圈"/>
                        Financial support for continuing education
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="跑跑"/>
                        Performance based pay
                    </label>
                    <label onclick="" class="checkbox ">
                        <input name="entry[field_1][]" type="checkbox" value="argus"/>
                        Others
                    </label>
                    <!--<div class="other-choice-area ">-->
                    <!--<label onclick="" class="checkbox ">-->
                    <!--<input class="other_choice" data-field-key="field_1"-->
                    <!--name="entry[field_1][]" type="checkbox" value="其它"/>-->
                    <!--其它-->
                    <!--</label>-->
                    <!--<input class="other-choice-input input-medium" data-field-key="field_1"-->
                    <!--id="entry_field_1_other" name="entry[field_1_other]" type="text"-->
                    <!--value=""/>-->
                    <!--</div>-->

                </div>
            </div>

        </div>
    </div>


    <!--</div>-->
    <!--<div class="field" data-api-code="field_2">-->
    <!--<div class="control-group ">-->
    <!--<label class="control-label field_title" data-role="collapse_toggle" for="entry_field_2">-->
    <!--女性生理类-->


    <!--</label>-->

    <!--<div class="field_content">-->

    <!--<div class="controls">-->
    <!--<div class="clearfix checkbox-group" data-role="controlgroup">-->
    <!--<label onclick="" class="checkbox ">-->
    <!--<input name="entry[field_2][]" type="checkbox" value="选项"/>-->
    <!--选项-->
    <!--</label>-->
    <!--<label onclick="" class="checkbox ">-->
    <!--<input name="entry[field_2][]" type="checkbox" value="选项"/>-->
    <!--选项-->
    <!--</label>-->
    <!--<label onclick="" class="checkbox ">-->
    <!--<input name="entry[field_2][]" type="checkbox" value="选项"/>-->
    <!--选项-->
    <!--</label>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->


    <!--</div>-->
    <!--<div class="field" data-api-code="field_3">-->
    <!--<div class="control-group ">-->
    <!--<label class="control-label field_title" data-role="collapse_toggle" for="entry_field_3">-->
    <!--测试-->


    <!--</label>-->

    <!--<div class="field_content">-->

    <!--<div class="controls">-->
    <!--<div class="clearfix radio-group" data-role="controlgroup">-->
    <!--<label onclick="" class="radio ">-->
    <!--<input name="entry[field_3]" type="radio" value="1"/>-->
    <!--1-->
    <!--</label>-->
    <!--<label onclick="" class="radio ">-->
    <!--<input name="entry[field_3]" type="radio" value="2"/>-->
    <!--2-->
    <!--</label>-->
    <!--<label onclick="" class="radio ">-->
    <!--<input name="entry[field_3]" type="radio" value="3"/>-->
    <!--3-->
    <!--</label>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->


    <!--</div>-->


    <!--<script>-->
    <!--//<![CDATA[-->

    <!--$(function () {-->
    <!--String.locale = 'zh-CN';-->

    <!--var rules = $.parseJSON('{}');-->
    <!--new GoldenData.FormLogic(rules).run();-->

    <!--});-->

    <!--//]]>-->
    <!--</script>-->


</div>

<div class="field" data-api-code="field_2">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q3: What’s average monthly salary of your junior SSC staff (RMB)?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Below 2000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        2000-2500
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        2500-3000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        3000-3500
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        3500-4000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        4000-4500
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        4500-5000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Above 5000
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="field" data-api-code="field_2">
    <div class="control-group ">
        <label class="control-label field_title" data-role="collapse_toggle">
            Q4: What’s average monthly salary of your senior SSC staff (RMB)?
        </label>

        <div class="field_content">

            <div class="controls">
                <div class="clearfix radio-group" data-role="controlgroup">
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="1"/>
                        Below 4000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="2"/>
                        4000-5000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="3"/>
                        5000-6000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="4"/>
                        6000-7000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        7000-8000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        8000-10000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        10000-15000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        15000-20000
                    </label>
                    <label onclick="" class="radio ">
                        <input name="entry[field_3]" type="radio" value="5"/>
                        Above 20000
                    </label>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="field submit-field ">
    <div class="value">
        <input id="embedded" name="embedded" type="hidden"/>
        <input id="banner" name="banner" type="hidden"/>
        <input id="background" name="background" type="hidden"/>
        <input class="submit" data-disabled-with="submitting..." name="commit" type="submit" value="Submit"/>
    </div>
</div>
</fieldset>
</form>
</div>
</div>

</div>
<!--<div class="footer ">-->
<!--<footer>-->
<!--<a data-ajax="false" href="" target="_blank">-->
<!--<!--<span class='powered-by-text'>POWERED BY </span>-->-->
<!--</a>-->
<!--</footer>-->
<!--</div>-->
</html>
