<!DOCTYPE html>
<html>
<head>
    <title>Profiling Survey SSO China Week</title>
    <meta name="description" content="Part1">
    <link href="{{ static_url('assets/css/css.css') }}" media="screen"
          rel="stylesheet"/>
    <style type="text/css">
        .entry-container {
            background-repeat: repeat;
            background-size: auto;
        }

        .bg-image {
        }
    </style>
    <style type="text/css">
        .entry-container .banner {
            background-color: #F4F4F4;
            color: #AAAAAA;
        }

        .entry-container form .form-name {
            font-size: 22px;
            color: #000;
            font-weight: normal;
        }

        .entry-container form .form-description {
            font-size: 12px;
            color: #666;
            font-weight: normal;
        }

        .entry-container form .field label.control-label {
            font-size: 14px;
            color: #333;
            font-weight: bold;
        }

        .entry-container form .field .field_content label,
        .entry-container form .field .attachment .status .file-name,
        .entry-container form .field .attachment label {
            font-size: 14px;
            color: #333;
            font-weight: bold;
            font-size: 12px;
            font-weight: normal;
        }

        .entry-container form .field .field_content .image-choices label,
        .entry-container form fieldset .goods-items .goods-item .text-wrapper .dimensions .dimension-options label {
            color: inherit;
        }

        .entry-container form .field .help-block {
            font-size: 12px;
            color: #777;
            font-weight: normal;
        }

        .entry-container form .field.section-break label {
            font-size: 16px;
            color: #333;
            font-weight: bold;
        }

        .entry-container form .field.section-break .help-block {
            font-size: 12px;
            color: #999;
            font-weight: normal;
        }

        .entry-container .message {
            font-size: 22px;
            color: #000;
            font-weight: normal;
        }
    </style>
    <!--[if lte IE 8]>
    <link href="{{ static_url('assets/css/lte-ie8.css') }}"
          media="screen" rel="stylesheet"/>
    <script src={{ static_url('assets/js/html5.js') }}"></script>
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="{{ static_url('assets/css/lte-ie7.css') }}"
          media="screen" rel="stylesheet"/>
    <![endif]-->
    <!--[if IE 6]>
    <link href="{{ static_url('assets/css/ie6.css') }}" media="screen"
          rel="stylesheet"/> <![endif]-->
    <script src="{{ static_url('assets/js/application.js') }}"></script>
    <!--[if IE 6]>
    <script src="{{ static_url('assets/js/fix-ie6.js') }}"></script>
    <![endif]-->
</head>
<body class="entry-container bg-image">
<form accept-charset="UTF-8" action="/f/sUOZIK" class="center" id="new_entry" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/><input
            name="authenticity_token" type="hidden" value="3753LPFXEiO3j2SRf+YSFAKPG6ILMNYTKEE4iRu+RZs="/></div>
    <div class="banner">
        <span class="banner-text banner-content"></span>
    </div>
    <h1 class="form-name">Part 1: Live Audience Benchmarking Polling -Who are here with you at SSO Week China 2014</h1>

    <div class="form-description"></div>
    <fieldset>
        <div class="form-content">
            <div class="field" data-api-code="field_1">
                <div class="control-group ">
                    <label class="control-label field_title" data-role="collapse_toggle" for="entry_field_1">
                        Q1:What is the size of your Full Time Employees (FTEs) in your SSC?
                    </label>

                    <div class="field_content">
                        <div class="controls">
                            <div class="clearfix radio-group" data-role="controlgroup">
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="1">
                                    Less than 20
                                </label>
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="2">
                                    20-50
                                </label>
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="3">
                                    50-100
                                </label>
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="4">
                                    100-200
                                </label>
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="5">
                                    200-500
                                </label>
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="6">
                                    500+
                                </label>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="field" data-api-code="field_2">
                <div class="control-group ">
                    <label class="control-label field_title" data-role="collapse_toggle" for="entry_field_2">
                        女性生理类


                    </label>

                    <div class="field_content">

                        <div class="controls">
                            <div class="clearfix checkbox-group" data-role="controlgroup">
                                <label onclick="" class="checkbox ">
                                    <input name="entry[field_2][]" type="checkbox" value="选项"/>
                                    选项
                                </label>
                                <label onclick="" class="checkbox ">
                                    <input name="entry[field_2][]" type="checkbox" value="选项"/>
                                    选项
                                </label>
                                <label onclick="" class="checkbox ">
                                    <input name="entry[field_2][]" type="checkbox" value="选项"/>
                                    选项
                                </label>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="field" data-api-code="field_3">
                <div class="control-group ">
                    <label class="control-label field_title" data-role="collapse_toggle" for="entry_field_3">
                        测试


                    </label>

                    <div class="field_content">

                        <div class="controls">
                            <div class="clearfix radio-group" data-role="controlgroup">
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="1">
                                    1
                                </label>
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="2">
                                    2
                                </label>
                                <label onclick="" class="radio ">
                                    <input name="entry[field_3]" type="radio" value="3">
                                    3
                                </label>

                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <script>
                //<![CDATA[

                $(function () {
                    String.locale = 'zh-CN';

                    var rules = $.parseJSON('{}');
                    new GoldenData.FormLogic(rules).run();

                });

                //]]>
            </script>
            <div class="field submit-field ">
                <div class="value">
                    <input id="embedded" name="embedded" type="hidden"/>
                    <input id="banner" name="banner" type="hidden"/>
                    <input id="background" name="background" type="hidden"/>
                    <input class="submit" data-disable-with="提交中..." name="commit" type="submit" value="提交"/>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<script>
    //<![CDATA[
    $(function () {
        $("[data-role='attachment']").addClass('preview');
    })
    //]]>
</script>
<footer class='published'>
    <div class="center ">
        <a class="powered-by" href="" target="_blank">
            <i class="powered-logo"></i>

            <p>Powered By </p>
        </a></div>
</footer>
</body>
</html>
